/* CSS : index.html */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.logo {
    font-size: 25px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.navlist {
    display: flex;
    letter-spacing: 1px;
}
.navlist a {
    color: rgb(255, 255, 255);
    margin-left: 60px;
    font-size: 15px;
    font-weight: 550;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover {
    display: inline-block;
    color: #b5b5b5;
    border-radius: 25px;
    background: transparent;
    transform: translateX(3px);
}
#menu-icon {
    color: rgb(255, 255, 255);
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #00aaff 0%, #0068d7 50.53%, #0031e1 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section {
    padding: 0 19%;
}
.hero-text h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 35px;
}
.hero-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    line-height: 1.125;
    color: white;
    margin-bottom: 15px;
}
.hero-text p {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 35px;
}
.hero-img img {
    width: 475px;
    height: auto;
    position: relative;
    left: 100px;
}
.hero-text a {
    display: inline-block;
    color: #0068d7;
    background: #ffffff;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    transition: all .55s ease;
}
.hero-text a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
    color: rgb(255, 255, 255);
}
.hero-text a.ctaa i {
    color: #0068d7;
    vertical-align: middle;
    margin-right: 5px;
}
.hero-text a.ctaa i:hover {
    color: #ffffff;
}
.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}
.icons i:hover {
    color: #b5b5b5;
    transform: translateY(-5px);
}
.infor {
    background: #ffffff;
    height: 100%;
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img {
    max-width: 475px;
    height: auto;
    width: 100%;
    border-radius: 25px;
}
.about-content h1 {
    font-size: 60px;
    line-height: 1.5;
    margin-bottom: 50px;
}
.about-content p {
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    line-height: 1.45;
    margin: 15px 0 30px;
}
.loc {
    background: linear-gradient(245.59deg, #00aaff 0%, #0068d7 50.53%, #0031e1 75.52%);
    height: 100%;
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.loc-img img {
    max-width: 475px;
    height: auto;
    width: 100%;
    border-radius: 25px;
}
.loc-content h1 {
    color: #ffffff;
    font-size: 60px;
    line-height: 1.5;
    margin-bottom: 50px;
}
.loc-content p {
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.45;
    margin: 15px 0 30px;
}
.scroll-down {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover {
    transform:  translateY(-5px);
    color: #024ef4;
}

@media (max-width: 1920px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }
    .icons {
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down {
        right: 3%;
        transition: .2s;
    }
}
@media (max-width: 1460px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}

/* CSS : member.html */
.wrapper {
    position: relative;
    left: 225px;
    width: 450px;
    height: 550px;
    padding: 2rem 1rem;
    margin: 100px;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.35);
}
.wrapper h1 {
    font-size: 35px;
    color: #000000;
    margin-bottom: 25px;
}
.wrapper input {
    font-size: 13px;
    width: 90%;
    outline: none;
    border: 1px solid #ffffff;
    padding: 13px 20px;
    margin-bottom: 15px;
    border-radius: 25px;
    background: #e9e9e9;
}
.wrapper button {
    font-size: 15px;
    margin-top: 7px;
    padding: 15px 0;
    border-radius: 25px;
    outline: none;
    border: none;
    width: 90%;
    color: #ffffff;
    cursor: pointer;
    background: #024ef4;
}
.hero-text-member {
    margin-left: 45px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.hero-text-member h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.hero-text-member h1 {
    font-size: 60px;
    line-height: 1.125;
}
.hero-text-member p {
    font-size: 16px;
    line-height: 1.9;
}
.terms {
    margin-top: -5px;
}
.terms input {
    margin-top: 3px;
    height: 13px;
    width: 13px;
    cursor: pointer;
}
.terms label {
    font-size: 13px;
}
.terms a {
    color: #0068d7;
    text-decoration: none;
}
.wrapper button:hover {
    background: #0068d78e;
}
.wrapper input:focus {
    border : 1px solid #ebebeb;
}
.member {
    font-size: 13px;
    margin-top: 10px;
    color: #000000;
}
.icons-member {
    position: absolute;
    top: 50%;
    right: 0.1px;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons-member i {
    margin: 26px 0;
    font-size: 20px;
    display: block;
    line-height: 20px;
    color: #ffffff;
}


/* CSS : pricelist.html */
.card-list {
    background: linear-gradient(245.59deg, #00aaff 0%, #0068d7 28.53%, #0031e1 75.52%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card-list h1 {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    padding: 50px 0;
}
.pricing-card {
    flex: 1;
    border-radius: 25px 25px 25px 25px;
    background-color: #ffffff;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #000000;
    transition: .3s linear;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.35);
}
.pricing-card-header {
    background-color: #75baff;
    color:#ffffff;
    padding: 12px 30px;
    border-radius: 0 0 0 0;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 550;
    transition: .4s linear;
}
.pricing-card:hover .pricing-card-header {
    box-shadow: 0 0 0 25em #75baff;
    color: #75baff;
    background-color: #ffffff;
}
.price {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 615;
    color: #024ef4;
    margin: 40px 0;
    transition: .2s linear;
}
.price sup, .price span {
    font-size: 15.5px;
    font-weight: 700;
}
.price .special {
    display: none;
}
.pricing-card:hover, .pricing-card:hover .price {
    color: #ffffff;
}
.pricing-card li {
    font-size: 17.5px;
    padding: 5px 0;
}
.pricing-card a {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: #75baff;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 25px 25px 25px 25px;
}
.pricing-card a:hover {
    display: inline-block;
    background-color: #ffffff;
    color: #75baff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.icons-pricelist {
    position: absolute;
    top: 50%;
    left: 0.1px;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons-pricelist i {
    margin: 26px 0;
    font-size: 20px;
    display: block;
    line-height: 20px;
    color: #ffffff;
}